/* load fonts */
@font-face {
    font-family: PixelOperator;
    src: url(../fonts/PixelOperator.ttf);
}

@font-face {
    font-family: "04B_30";
    src: url(../fonts/04B_30__.TTF);
}


/* site-wide defaults */
*:not(dialog) {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: PixelOperator;
    font-weight: 300;
    font-size: 1.2em;
    width: 100vw;
    height: 100svh;
    color: white;

    /* background image */
    background: url('../images/barcade-background-1920-1080.jpg') no-repeat center center;
    background-size: 120% 110%;
}

#screen {
    height: 100%;
    width: 100%;
    padding: 90px 20px 70px;
    /* padding-bottom: 70px; */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#screen > section,
section > div > * {
    flex-grow: 1;
}

section > div {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}


/* page arranging */
#screen.homepage .hide-homepage,
#screen.cat-select .hide-cat-select,
#screen.question .hide-question,
#screen.results .hide-results {
    display: none;
}


/* homepage + category select page */
.logo {
    font-family: "04B_30";
    font-size: 3em;
}

#screen.homepage .main-content,
#screen.cat-select .main-content {
    flex-basis: 65%;
}
#screen.homepage .actions-area,
#screen.cat-select .actions-area {
    flex-basis: 35%;
}

.main-content > div {
    height: 100%;
}

.hero-welcome {
    padding: 10px;
    text-align: center;
}
#hero-logo {
    flex-grow: 4;
    font-size: 2em;
    /* padding-top: 25%; */
}

#quiz-actions .btn-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-action {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

#category-selector {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.actions-area {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.actions-area > * {
    flex-grow: 1;
}

.dropdown-container {
    flex-basis: 60%;
}
.dropdown-container > * {
    display: block;
    width: 100%;
}
#quiz-category {
    padding-top: 10px;
    padding-bottom: 10px;
}

select {
    font-family: inherit;
    font-size: 1.2rem;
}
label {
    padding: 10px;
}

#category-actions {
    flex-basis: 40%;
    display: flex;
    flex-direction: row;
    padding: 10px 15%;
    justify-content: space-between;
}

#category-actions .player-action {
    min-width: 100px;
}


/* question page */
.answers.option-selected > .answer,
.btn-disabled {
    pointer-events: none;
}


/* footer */
footer {
    position: absolute;
    padding: 10px 5px;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
}


/* media queries */
@media only screen and (min-width: 800px) {
    body {
        background-size: 110% 110%;
    }
    
    #screen {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    /* #hero-logo {
        padding-top: 15%
    } */

    /* #screen.homepage .main-content,
    #screen.cat-select .main-content {
        flex-basis: 50%;
    }
    #screen.homepage .actions-area,
    #screen.cat-select .actions-area {
        flex-basis: 50%;
    } */
}
