/* load font */
@font-face {
    font-family: PixelOperator;
    src: url(../fonts/PixelOperator.ttf);
}

@font-face {
    font-family: "04B_30";
    src: url(../fonts/04B_30__.TTF);
}


/* site-wide defaults */
*:not(dialog) {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: PixelOperator;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
}

/* homepage */
.logo {
    font-family: "04B_30";
}

/* page arranging */
#screen.homepage .hide-homepage,
#screen.cat-select .hide-cat-select,
#screen.question .hide-question,
#screen.results .hide-results {
    display: none;
}

.answers.option-selected > .answer,
.btn-disabled {
    pointer-events: none;
}
